    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row content">
          <div class="col-lg-6">
            <h2>Sobre</h2>
            <h3>Portal desenvolvido pela <a href="https://www.ids.inf.br/">IDS Desenvolvimento de Software e Assessoria
              Ltda</a> com o intuito de auxiliar clientes e parceiros durante a campanha de vacinação da COVID-19. </h3>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
              Um dos principais caminhos para fortalecer a gestão pública, proteger seu cidadão e ter secretarias municipais que realmente enfrentem qualquer crise, é por meio da tecnologia. Mais do que nunca, agora é preciso inovar na gestão pública.
            </p>
            <p>
              Municípios que contam com o sistema de gestão IDS já possuem ferramentas para ter uma gestão pública mais eficiente. Isso porque há tempos a IDS vem dedicando seus esforços para auxiliar em tempos de pandemia. Conte com a gente na sua gestão pública.
            </p>
            <ul>
            </ul>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->