<!--about-->
<section id="about" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12">
        <div class="section-title">
          <h2 class="head-title lg-line">Público alvo atual</h2>
          <hr class="botm-line">
        </div>
      </div>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <div style="visibility: visible;" class="col-sm-9 more-features-box">
          <div class="more-features-box-text">
            <div class="more-features-box-text-icon"> <i class="fa fa-users" aria-hidden="true"></i> </div>
            <div class="more-features-box-text-description">
              <h3>Pacientes com comorbidades ou prescrição médica</h3>
              <p>Condição de risco pode ser comprovada por exames, relatório ou prescrição médica emitida nos últimos
                dois anos.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--cta 2-->
<section id="cta-2" class="section-padding">
  <div class="container">
    <div class=" row">
      <div class="col-md-2"></div>
      <div class="text-right-md col-md-4 col-sm-4">
        <h2 class="section-title white lg-line">« Sobre »</h2>
      </div>
      <div class="col-md-4 col-sm-5">
        Portal desenvolvido pela <a href="https://www.ids.inf.br/">IDS Desenvolvimento de Software e Assessoria
          Ltda</a> com o intuito de auxiliar clientes e parceiros durante a campanha de vacinação da COVID-19. <br>

      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</section>
<!--cta-->

<!--/ about-->