<!--contact-->
<section id="contact" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="ser-title">Fale conosco</h2>
        <hr class="botm-line">
      </div>
      <div class="col-md-4 col-sm-4">
        <h3>Informações para contato</h3>
        <div class="space"></div>
        <p><i class="fa fa-map-marker fa-fw pull-left fa-2x"></i>R. Caramuru, 271 - Centro, Pato Branco - PR,
          85501-060</p>
        <div class="space"></div>
        <p><i class="fa fa-envelope-o fa-fw pull-left fa-2x"></i>secsaude@patobranco.pr.gov.br</p>
        <div class="space"></div>
        <p><i class="fa fa-phone fa-fw pull-left fa-2x"></i> (46) 3213-1700</p>
      </div>
    </div>
  </div>
</section>
<!--/ contact-->