    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq">
      <div class="container">

        <div class="section-title">
          <h2>Perguntas Frequentes</h2>
        </div>

        <div class="row  d-flex align-items-stretch">

          <div class="col-lg-6 faq-item">
            <i class="bx bx-help-circle"></i>
            <h4>Como faço meu cadastro?</h4>
            <p>
              Para se cadastrar, você deverá escolher o botão "agendar vacina" e inserir seus dados pessoais. Após, se houver ofertas para o seu grupo ou faixa etária, basta efetuar o agendamento.
            </p>
          </div>

          <div class="col-lg-6 faq-item">
            <i class="bx bx-help-circle"></i>
            <h4>Quem pode se vacinar nesse momento?</h4>
            <p>
              Nesse momento a vacinação contempla pessoas acima dos 36 anos com comorbidades.
            </p>
          </div>

          <div class="col-lg-6 faq-item">
            <i class="bx bx-help-circle"></i>
            <h4>Só poderei me vacinar se agendar?</h4>
            <p>
              Sim, para evitar aglomeração, longas filas e otimizar os profissionais, a secretaria de saúde fará a oferta de vacinas conforme demanda, e qualquer cidadão (dentro do grupo atual) poderá efetuar o agendamento para um dos diversos pontos espalhados pela cidade. CASO VOCÊ TENHA ALGUM PROBLEMA, VOCÊ PODERÁ SER VACINADO, DESDE QUE EXISTA DISPONIBILIDADE NO LOCAL.
            </p>
          </div>

          <div class="col-lg-6 faq-item">
            <i class="bx bx-help-circle"></i>
            <h4>Caso não apareça nenhuma oferta para agendar, o que faço?</h4>
            <p>
              Quando não há ofertas, é exibido uma mensagem que está esgotado ou não há no momento para o seu grupo. Fique sempre atento aos canais oficiais do seu município.
            </p>
          </div>

          <div class="col-lg-6 faq-item">
            <i class="bx bx-help-circle"></i>
            <h4>Quais documentos devo levar?</h4>
            <p>
              No ato da vacinação, você deverá levar seus documentos pessoais (RG ou CNH, comprovante de residência, xerox de documento que ateste sua comorbidade ou grupo prioritário (esse documento ficará retido para possíveis conferências)
            </p>
          </div>

          <div class="col-lg-6 faq-item">
            <i class="bx bx-help-circle"></i>
            <h4>O que é evento adverso?</h4>
            <p>
              Qualquer ocorrência indesejável após a vacinação, não necessariamente relacionada ao uso da vacina.
            </p>
          </div>

          <div class="col-lg-6 faq-item">
            <i class="bx bx-help-circle"></i>
            <h4>Quem investiga casos de eventos adversos pós-vacinação contra COVID-19?</h4>
            <p>
              A investigação de eventos adversos às vacinas COVID-19 que vêm sendo aplicadas no Brasil é realizada pelas autoridades de saúde locais responsáveis.
            </p>
          </div>
          
          <div class="col-lg-6 faq-item">
            <i class="bx bx-help-circle"></i>
            <h4>Qual o procedimento deve ser seguido por quem deseja relatar um evento adverso após receber a vacina COVID-19?</h4>
            <p>
              Profissionais de saúde devem notificar os eventos adversos pós-vacinação observados nas unidades de saúde ao Programa Nacional de Imunizações por meio do e-SUS Notifica, pelo link: https://notifica.saude.gov.br/onboard.
              Qualquer pessoa que apresentar um evento adverso pós-vacinação com a vacina COVID-19 pode reportar o evento clicando no botão "reportar evento adverso". 
            </p>
          </div>
          
        </div>

      </div>
    </section><!-- End Frequently Asked Questions Section -->