<!-- ======= Services Section ======= -->
<section id="services" class="services section-bg">
  <div class="container">

    <div class="section-title">
      <h2>Serviços disponíveis</h2>
      <p>Serviços atualmente disponíveis referente a vacinação da COVID-19</p>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6 icon-box">
        <div class="icon"><i class="fa fa-calendar"></i></div>
        <h4 class="title"><a href="">Agendar vacina</a></h4>
        <p class="description">Agende sua vacina caso faça parte do público alvo atual (Pacientes com comorbidades ou
          prescrição médica).</p>
      </div>
      <div class="col-lg-4 col-md-6 icon-box">
        <div class="icon"><i class="fa fa-heartbeat"></i></div>
        <h4 class="title"><a href="">Reportar evento adverso</a></h4>
        <p class="description">Reporte qualquer ocorrência indesejável após a vacinação, não necessariamente relacionada
          ao uso da vacina.</p>
      </div>
    </div>
  </div>
</section><!-- End Services Section -->