<!--service-->
<section id="service" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4">
        <h2 class="ser-title">Serviços</h2>
        <hr class="botm-line">
        <p>Serviços disponíveis no seu município referente a vacinação da COVID-19</p>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="service-info">
          <div class="icon">
            <i class="fa fa-user-plus"></i>
          </div>
          <div class="icon-info">
            <h4>Pré-cadastro</h4>
            <p>Realize seu pré-cadastro caso não tenha um cadastro existente no sistema único de saúde (SUS) do seu
              município.</p>
          </div>
        </div>
        <div class="service-info">
          <div class="icon">
            <i class="fa fa-heartbeat"></i>
          </div>
          <div class="icon-info">
            <h4>Reportar evento adverso</h4>
            <p>Reporte qualquer ocorrência indesejável após a vacinação, não necessariamente relacionada ao uso da
              vacina.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="service-info">
          <div class="icon">
            <i class="fa fa-calendar"></i>
          </div>
          <div class="icon-info">
            <h4>Agendar vacina</h4>
            <p>Agende sua vacina caso faça parte do público alvo atual (Pacientes com comorbidades ou prescrição
              médica).</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/ service-->